.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  margin-left: auto;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.searchBar {
  position: relative;
  margin-right: 20px;
}

.search input {
  padding: 10px 50px 10px 20px;
  border: none;
  outline: none;
  color: rgb(41, 39, 39);
  background: rgb(193, 193, 199);
  border-radius: 25px;
  font-size: 1.1rem;
}

.search svg {
  fill: rgb(136, 136, 136);
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

.addButton {
  outline: none;
  background: linear-gradient(
    to top left,
    rgb(250, 240, 93),
    rgb(253, 189, 65)
  );
  font-size: 2.5rem;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  text-align: center;
  color: rgb(233, 105, 106);
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.addButton:hover {
  transform: rotate(180deg);
}

.addBar {
  position: relative;
}

.addModal {
  position: absolute;
  top: calc(100% + 15px);
  right: 25px;
  padding: 15px;
  border-radius: 25px;
  background:rgb(153, 153, 155);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 170px;
}

.addModal button {
  background: none;
  outline: none;
  border: none;
  color: #fff;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  padding: 7px 10px;
  cursor: pointer;
}

.addModal button:hover {
  text-decoration: dotted underline;
}

.addModal :nth-child(1) {
  border-bottom: 2px solid #242627;
}

.fileFolderModalOuter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(152, 150, 150, 0.3);
  backdrop-filter: blur(7px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileFolderModal {
  background: #2c2d31;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 11;
  margin: 20px;
  padding: 40px;
  border-radius: 25px;
  border: 1px solid rgb(136, 136, 136);
}

.fileFolderModal img {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

.fileFolderModal input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 3px solid rgb(37, 38, 40);
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.2rem;
}

.fileFolderInner {
  display: flex;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

.fileFolderModal button {
  outline: none;
  background: none;
  padding: 10px 20px;
  border: 3px solid rgb(37, 38, 40);
  width: 100%;
  max-width: 250px;
  border-radius: 25px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.1s ease;
}

.fileFolderModal button:hover {
  background:rgb(37, 38, 40);
}

@media screen and (max-width: 768px) {
  .addButton {
    width: 35px;
    height: 35px;
  }
  .addModal {
    min-width: 140px;
  }
  .fileFolderModal input, .fileFolderModal button {
    border-width: 0.2rem;
  }
  .fileFolderModal input { 
    padding: 0 10px;
    max-width: 300px;
  }
  .search svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 550px) {
  .addButton {
    width: 30px;
    height: 30px;
  }
  .addModal {
    min-width: 100px;
  }
  .fileFolderModal img {
    width: 40px;
  }
  .search svg {
    width: 18px;
    height: 18px;
  }
}